@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* background-color: black; */
}

*::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  width: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
  border: 1px solid grey;
  cursor: pointer;
}


/* Firefox */

*::-moz-scrollbar {
  width: 3px;
  height: 3px;
}

*::-moz-scrollbar-track {
  background: white;
  border-radius: 5px;
  width: 3px;
}

*::-moz-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
  border: 1px solid grey;
  cursor: pointer;
}
