@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* background-color: black; */
}

/* button:disabled{
  background-color: rgb(234, 234, 234);
} */
input:disabled{
  background-color: rgb(219, 213, 213);
}

*::-webkit-scrollbar {
  width: 3px;
  height: 5px;
  opacity: 100px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
  width: 3px;
  opacity: 0.2;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
  border: 1px solid grey;
  cursor: pointer;
  opacity: 0.5;
}


/* Firefox */

*::-moz-scrollbar {
  width: 3px;
  height: 3px;
}

*::-moz-scrollbar-track {
  background: white;
  border-radius: 5px;
  width: 3px;
}

*::-moz-scrollbar-thumb {
  background-color: black;
  border-radius: 14px;
  border: 1px solid grey;
  cursor: pointer;
}


@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.5s ease-out;
}