@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');


:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-inter
}


/* ::-webkit-selection {
  background-color: rgba(255, 0, 0, 0.5);
  color: white; 
} */

::selection {
  @apply bg-pink-200 text-black
}
